################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rsa/VS/RSA/.vs/RSA/FileContentIndex/9c0b03c7-e1ad-42e5-8803-5acf80f6eaff.vsidx
/rsa/VS/RSA/.vs/RSA/FileContentIndex/read.lock
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.db-wal
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.db-shm
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.opendb
/rsa/VS/RSA/.vs/
/rsa/VS/RSA/.vs/*