################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rsa/VS/RSA/.vs/RSA/FileContentIndex/9c0b03c7-e1ad-42e5-8803-5acf80f6eaff.vsidx
