./rsa/VS/RSA/.vs
./.vscode
./.idea
/rsa/VS/RSA/.vs/RSA/FileContentIndex/09cc0790-771b-4cdd-8d52-43800714fb5a.vsidx
/rsa/VS/RSA/.vs/RSA/FileContentIndex/45491de3-dc6f-4715-b093-bb7874d67a16.vsidx
/rsa/VS/RSA/.vs/RSA/FileContentIndex/1b87a57b-b00e-4f31-99a1-0d725db0a045.vsidx
/rsa/VS/RSA/.vs/RSA/FileContentIndex/read.lock
/rsa/VS/RSA/.vs/RSA/v17/ipch/AutoPCH/a6f7ffbf0343747b
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.db-shm
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.db-wal
/rsa/VS/RSA/.vs/RSA/v17/Browse.VC.opendb
